<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC2LW6Tazet7xZ6RlMpwgzv7pz6e9wQUT0</string>
	<key>GCM_SENDER_ID</key>
	<string>515751052950</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.miApp</string>
	<key>PROJECT_ID</key>
	<string>mi-app-flutter-demo</string>
	<key>STORAGE_BUCKET</key>
	<string>mi-app-flutter-demo.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:515751052950:ios:e9f59a8a00a5400e9d64b7</string>
</dict>
</plist>
